ion-thumbnail {
    width:96px;
    height:auto;
}

.stream-description {
    font-size:11px;
    white-space: normal;
    color:#757575;
}

.stream-title {
    font-size:15px;
    font-weight: 500;
}

ion-label {
    line-height: 1;
}

.custom-item {
    display:flex;
}
