
.streamer-item {
    --padding-start:0.5rem;
    --inner-padding-end: 0px;
    --padding-top:10px;
    // --inner-padding-bottom:16px;
}


.stream-count {
    padding-bottom: 0.5rem;
    ion-badge {
        vertical-align: middle;
        margin-right: 0.5rem;
        --padding-start:1rem;
        --padding-end:1rem;
    }
    span {
        vertical-align: middle;

    }
}